################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LinearSystems/v17/TestStore/0
/LinearSystems/obj
/LinearSystems.Specs/bin/Debug/net7.0
/LinearSystems.Specs/obj/Debug/net7.0
/LinearSystems.Specs/obj
.vs/LinearSystems/DesignTimeBuild/.dtbcache.v2
.vs/LinearSystems/FileContentIndex/3f6060cc-cce3-438a-87cc-6681502b812a.vsidx
.vs/LinearSystems/FileContentIndex/740aad50-c1df-4bac-a170-3b8300d9b5d2.vsidx
.vs/LinearSystems/v17/.futdcache.v2
.vs/LinearSystems/v17/.suo
.vs/ProjectEvaluation/linearsystems.metadata.v7.bin
.vs/ProjectEvaluation/linearsystems.projects.v7.bin
LinearSystems/bin/Debug/net7.0/LinearSystems.deps.json
LinearSystems/bin/Debug/net7.0/LinearSystems.dll
LinearSystems/bin/Debug/net7.0/LinearSystems.exe
LinearSystems/bin/Debug/net7.0/LinearSystems.pdb
LinearSystems/bin/Debug/net7.0/LinearSystems.runtimeconfig.json
